[submodule "cmake/cmakeBuildTools"]
	path = cmake/cmakeBuildTools
	url = https://github.com/mensinda/cmakeBuildTools.git
[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "external/json"]
	path = external/json
	url = https://github.com/nlohmann/json.git
